/* admin_dash.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* Sidebar Styling */
.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #333;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sidebar h1 {
    font-size: 1.5rem;
    color: #cc3399;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
    margin-left: 10px;
}

.sidebar a {
    color: #bdc3c7;
    font-size: 1rem;
    padding: 15px 20px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 2px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #444;
    color: #fff;
}

.sidebar .logout {
    margin-top: auto;
    color: #cc3399;
    font-weight: bold;
}

/* Main Content Styling */
.main-content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
    height: 100vh;
    overflow-y: scroll;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #bdc3c7;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 80px 20px;
    background: url(images/admin-dashboard-background.jpg);
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 50%;
    color: #2c3e50;
}

.hero-content h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 70px;
}

.hero-content p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 20px;
    margin-left: 50px;
}

.hero-image img {
    max-width: 150px;
    border-radius: 10px;
}

/* Data Table Section */
.section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #34495e;
}

.section table {
    width: 100%;
    border-collapse: collapse;
}

.section table th, 
.section table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.section table th {
    background-color: #66194d;
    color: white;
}

.section table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Highlight Button */
.highlight-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #77205a, #e038a8);
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.highlight-button:hover {
    background: linear-gradient(135deg, #e038a8, #77205a);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 220px;
        width: calc(100% - 220px);
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

