<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <div class="wrapper">
    <h1>Sign Up for <span>StyleSpark!</span></h1>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    
    <form method="POST">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
        </div>
        
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>

        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="input-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" placeholder="Enter your age" required>
        </div>

        <div class="terms">
            <input type="checkbox" name="is_admin" id="is_admin">
            <label for="is_admin">Register as Admin</label>
        </div>
        
        <button type="submit">Register</button>
    </form>

    <div class="member">
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
  </div>
</body>
</html>
